/* TODO add our own color scheme */

/* Color palette */
:root {
  --primary: #4A6B4F;
  --secondary: #8B6F4E;
  --background: #F3F1EB;
  --accent: #A3B18A;


  --white: #ffffff;
  --black: #181818;
}

/* Item colors */
:root {
  --text: var(--black);
  --button: var(--primary);
  --button-text: var(--white);

}

