/* TODO add our own color scheme */

/* Color palette 
* primary: hovedfarge, bruk til knapper, lagre-knapper og overskrift
* secondary: bruk til avbryt/tilbake-knapper
* background: bakgrunnsfarge
* accent: bruk til å ramme inn innhold(f. eks. nav-bar)
 */
:root {
  --primary: #2E4732; /*(mørk skoggrønn – knapper, CTA)*/

  --secondary: #B9956D; /*(varm brunbeige – avbryt, nøytrale handlinger)*/

  --background: #F4F1E6; /*(kremfarget base)*/

  --accent: #A3BA91; /*(salviegrønn – borders, hover, ikoner)*/

  --text1: #1E1E1E; /*(dyp grå for kontrast)*/


  --white: #ffffff;
  --black: #181818;
  --invalid: #ce5656;
}

/* Item colors */
:root {
  --text: var(--text);
  --button: var(--primary);
  --button-text: var(--white);

}

button:hover {
  background-color: var(--secondary);
}
