/* TODO add our own color scheme */

/* Color palette 
* primary: hovedfarge, bruk til knapper, lagre-knapper og overskrift
* secondary: bruk til avbryt/tilbake-knapper
* background: bakgrunnsfarge
* accent: bruk til å ramme inn innhold(f. eks. nav-bar)
 */
:root {
  --primary: #4A6B4F;
  --secondary: #B49572;
  --background: #f6f4e8;
  --accent: #C3D1AC;


  --white: #ffffff;
  --black: #181818;
}

/* Item colors */
:root {
  --text: var(--black);
  --button: var(--primary);
  --button-text: var(--white);

}

