.category-wrapper {
    padding: 10px;
  }

  .category-toggle {
    display: block;
    background-color: var(--primary);
    color: var(--button-text);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
  }

  .category-list {
    margin-top: 10px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .category-list li {
    background-color: var(--primary);
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--button-text);
  }

  /* Tablet og desktop: vis alltid */
  @media (min-width: 768px) {
    .category-toggle {
      display: none;
    }

    .category-list {
      display: flex !important;
      flex-direction: column;
      width: 180px;

    }

    .category-wrapper {
      min-width: 200px;
    }
  }
  