@import './base.css';

body {
  margin: 0;
  padding: 0;
}
/* TODO make navbar better */
.navbar {
  background-color: #a1a1a1;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 40px;
  z-index: 1000;
  top: 0px;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  min-width: 100px;
  text-align: center;
  background-color: #555;
  
}

.main {
  margin-top: 50px;
}

.input-form-flex {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  height: 200px;
}
.input-form-flex input, .input-form-flex button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  height: 25px;
}

.input-form-flex button {
  background-color: #555;
  color: white;
}
