@import './base.css';

/* Default styles for mobile (small screens) */
body {
  margin: 5px;
  padding: 5px;
  background-color: var(--background);
}

.main {
  margin-top: 40px;
  background-color: var(--background);
}
.main-layout {
  display: flex;
  flex-direction: column;
}

/* Tablet og opp: legg kategori på siden */
@media (min-width: 768px) {
  .main-layout {
    flex-direction: row;
    align-items: flex-start;
  }

  .main-content {
    flex: 1;
    padding: 10px;
  }
}

.input-form-flex {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 100%;
  max-width: 500px;
  height: 600px;
}
.input-form-flex input, .input-form-flex button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  height: 25px;
}

.input-form-flex .error-message {
  margin-left: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 15px;
  color: var(--invalid);
}
.input-form-flex div {
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 65px;
}

.input-form-flex button {
  background-color: var(--button);
  color: var(--button-text);
}

.centered-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.invalid-field {
  border: 2px solid var(--invalid);  
}

/* Tablet styles (768 px and up) */


/* Desktop styles (1024 px and up) */